/*@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";*/
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
@import 'https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap';
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');


:root {
  font-family: 'Source Sans Pro', sans-serif;
}

body, html {
  padding: 0;
  background-color: #B3C2E8;
} 

/*Post-related*/

#grid {
  margin: 1em 15em;
  margin-bottom: 8em;
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 25px;

}

/* Media query for screens between 600px and 1200px */
@media (min-width: 700px) and (max-width: 1200px) {
  #grid {
    margin-left: calc(15em - 15vw);
    margin-right: calc(15em - 15vw);
    margin-bottom: 20em;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
  
  .square {
    padding: 8px;
  }
}

/* Media query for screens smaller than 600px */
@media (max-width: 700px) {
  #grid {
    
    margin: 1em calc(10em - 25vw) 30em calc(10em - 25vw);
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }
  
  .square {
    padding: 5px;
  }
}

.square {
  position: relative;
  max-height: 500px;
  padding: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1vw;
  font-weight: bold;
  flex: 1 0 calc(33.333% - 1px);
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.square:hover {
  opacity: 0.8;
  transform: scale(1.01);
}

.likes-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 75px;
  padding: 12px 12px;
  background-color: rgba(255, 255, 255, 0.0);
  border: none;
  color: black;
  text-decoration: none;
  font-size: 18px;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

.likes-btn:hover {
  background-color: rgba(255, 255, 255, 0.3);
  border-color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

/*Search Bar*/

.search_post{
  padding: 8px;
  border-radius: 4px;
  margin-right: 5px;
}

/*General Styling*/
.is-flex-row {
  display: flex;
  flex-direction: row;
}

.is-flex-column{
  display: flex;
  flex-direction: column;
}

/*Add Post Form*/
form {
  width: 60%;
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #E8D0B3;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form h2 {
  text-align: center;
  margin-bottom: 1rem;
}

label {
  display: block;
  font-weight: bold;
  margin-top: 1rem;
}

input, textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #C9D9E2;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type="submit"] {
  display: block;
  width: 100%;
  margin-top: 1rem;
  padding: 10px;
  background-color: #7CB0A9;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1rem;
}

input[type="submit"]:hover {
  background-color: #A2C6D3;
}

/*Post Details*/

.post_details {
  width: 80%;
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #E8D0B3;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.title, .subtitle, p, button, input { 
  color: rgb(22, 24, 36);
  font-family: 'Source Sans Pro', sans-serif;
}

.post_poster, .post_time, .post_content, .post_comments {
  margin: 0.5rem 0;
}

.post_content {
  margin: 0.5rem 0;
  padding: 10px;
  background-color: #D3C0C7;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 1.1rem;
  line-height: 1.6;
}

.btn-upvote, .btn-delete, .btn-edit {
  padding: 8px 12px;
  margin: 5px 10px 5px 0;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-upvote {
  background-color: #7CB0A9;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-weight: bold;
}

.btn-delete {
  background-color: #D7A6B3;
  color: white;
}

.btn-edit {
  background-color: #A2C6D3;
  color: white;
}

.btn-upvote:hover {
  background-color: #A2C6D3;
}

.btn-delete:hover {
  background-color: #E6B098;
}

.btn-edit:hover {
  background-color: #90BEDE;
}

/* comments */

.post_comments {
  margin-top: 20px;
}

.comments h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.comment {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.comment p {
  margin: 0;
}

/*
.comment-author {
  font-weight: bold;
}
*/

.comment-text {
  margin-top: 5px;
}

.comment-form label {
  display: block;
  margin-bottom: 5px;
}

.comment-form textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
}

.comment-form button {
  background-color: #008CBA;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.comment-form button:hover {
  background-color: #005f6b;
}

/*Navbar*/

.search_post {
  width: 150px;
  margin-bottom: 6px;
}

#addButton {
  background-color: #ffffff;
  cursor: pointer;
  padding: 10px 13px;
  border: none;
}

#addButton:hover {
  transform: scale(1.05);
}

.buttons.is-bottom-left {
  position: fixed;
  justify-content: center;
  padding: 10px;
  margin: 0 auto;
  bottom: 0;
  height: 60px;
  width: 100%;
  border-radius: 10px;
  background-color: #f2f2f2;
  z-index: 1;
}